#pane{
    -fx-background-image: url("wolken.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

#whiteTextBackground {
    -fx-background-color: snow;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
}

#windInitText {
    -fx-font-weight: bold;
    -fx-font-size: 20;
    -fx-font-family: Aclonica Font;
    -fx-text-alignment: center;
}

#windTextHeadline {
    -fx-font-weight: bold;
}

#windRichtungMessungText {
    -fx-font-family: Verdana;
    -fx-font-size: 20;
    -fx-font-weight: bold;
    -fx-text-color: black;
}

#windMessungText {
    -fx-font-family: Verdana;
    -fx-font-size: 70;
    -fx-font-weight: bold;
    -fx-text-color: black;
}



.hyperlink:hover {
    -fx-font-weight: bolder;
    -fx-underline: false;
}

.hyperlink:visited {
    -fx-underline: false;
}

.hyperlink {
    -fx-text-color: black;
    -fx-font-size: 15;
    -fx-text-fill: black;
}