#pane{
    -fx-background-image: url("windrad.jpg");
    -fx-background-repeat: stretch;
    -fx-background-size: 900 506;
    -fx-background-position: center center;
}

#whiteTextBackground {
    -fx-background-color: snow;
    -fx-border-color: black;
    -fx-border-radius: 5px;
    -fx-border-style: solid;
}